.orange {
    background-color: orange;
    /* padding: 200px; */
    /* text-align: center; */
    height: 400px;
    
}


.white {
    background-color: white;
    width: 150px;
    padding-right: 70px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.yellow {
    height: 400px;
    background-color: yellow;
    position: relative;
}

.pink {
    height: 100px;
    width: 100px;
    background-color: pink;
    position:sticky;
    top: 0%;
    left: 0%;
    
}

.blue {
    height: 100px;
    width: 80px;
    background-color: blue;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

.green {
    background-color: green;
    height: 400px;
    
    
}



